SNOWFLAKE_ACCOUNT=jza01504.east-us-2.azure
SNOWFLAKE_USER=your_email@company.com
SNOWFLAKE_PASSWORD=
SNOWFLAKE_WAREHOUSE=ANALYTICS_SANDBOX_WH
SNOWFLAKE_DATABASE=VNA_REPLICA_DB_PROD
SNOWFLAKE_SCHEMA=APL_SCT
SNOWFLAKE_ROLE=FR_DATA_DOMAINS_READER
# Optional: path to Zscaler root CA bundle
# REQUESTS_CA_BUNDLE=C:\path\to\ZscalerRootCA.pem
# Optional: passphrase for key-pair auth
# SNOWFLAKE_PRIVATE_KEY_PASSPHRASE=
